<form>
  <mat-card>
    <mat-form-field style="width:100%">
      <input id="txtclaimSearch" matInput placeholder="Claim Number" aria-label="ClaimNumber" [matAutocomplete]="auto" (keyup)="searchClaim($event)">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let claim of $claimSearches | async" (click)="selectClaim(claim.fh_claim_num)">
          <span>{{claim.fh_claim_num}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <mat-card [ngStyle]="{'padding':'0px'}">
      <mat-toolbar [ngStyle]="{'background-color':'#C1CEFE'}">
          <mat-icon>folder_open</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Viewed Claims</span>
        </mat-toolbar>
    <mat-card-content [ngStyle]="{'padding':'24px'}">
      <mat-list>
        <mat-list-item *ngFor="let claimH of claimHistory.reverse()" (click)="selectClaim(claimH)" [ngStyle]="{'cursor':'pointer'}" claimHighlight>
          {{claimH}}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</form>