<form>
  <mat-card>
    <mat-form-field style="width:100%">
      <input id="txtclaimSearch" matInput placeholder="Claim Number" aria-label="ClaimNumber" [matAutocomplete]="auto" (keyup)="search($event)">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let claim of claimSearches | async" (click)="selectClaim($event)" [value]="claim.fh_claim_num">
          <span>{{claim.fh_claim_num}}
            <small> - {{claim.open_close_status}}</small>
          </span>
          <small>{{claim.policy_num}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let claim of claimHistory | async"> 
      {{claim.fh_claim_num}}
    </mat-list-option>
  </mat-selection-list>
</form>