<mat-card *ngIf="claim" [ngStyle]="{'padding':'0px'}">
  <mat-toolbar [ngStyle]="{'background-color':'#C1CEFE'}">
    <mat-icon>info</mat-icon>
    <span>&nbsp;&nbsp;&nbsp;Claim Detail</span>
  </mat-toolbar>
  <mat-card-content [ngStyle]="{'padding':'24px'}">
    <div class="row">
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Claim Number" [value]="claim.fh_claim_num">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Policy Number" [value]="claim.policy_num">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="LOB" [value]="claim.lob_id">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Handler" [value]="claim.handler">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Insured" [value]="claim.insured">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Loss Date" [value]="claim.loss_date | date">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Claim Type" [value]="claim.claim_type">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field>
          <input matInput readonly placeholder="Status" [value]="claim.open_close_status">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>