<mat-card *ngIf="claimAttachments" [ngStyle]="{'padding':'0px'}">
  <mat-toolbar [ngStyle]="{'background-color':'#C1CEFE'}">
    <mat-icon>attach_file</mat-icon>
    <span>&nbsp;&nbsp;&nbsp;Attachments</span>
  </mat-toolbar>
  <mat-card-content [ngStyle]="{'padding':'24px'}">
    <mat-list>
      <mat-list-item style="cursor:pointer;" *ngFor="let attachment of claimAttachments | async"
        (mouseenter)=highlightEnter($event) (mouseleave)=highlightLeave($event)>
        <!--<mat-list-item [@fade]="state" (@fade.done)="onDone($event)" style="cursor: pointer;" *ngFor="let attachment of attachments" (mouseenter)=highlightEnter($event) (mouseleave)=highlightLeave($event)>-->
        <!--<mat-icon mat-list-icon>{{attachment.icon}}</mat-icon> -->
          <img mat-list-icon src="/assets/{{selectAttachmentIcon(attachment.image_name)}}.png">
          <a mat-line matTooltip="{{attachment.image_name}}" href="http://ausd-sur-web01:8089/api/claimattachment/{{attachment.image_id}}" download>{{attachment.image_name}}</a>
          <!-- <h4 mat-line matTooltip="{{attachment.image_name}}">{{attachment.image_name}}</h4> -->
          <small mat-line>{{attachment.image_desc}}</small>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>