<mat-card *ngIf="claimAttachments" [ngStyle]="{'padding':'0px'}">
  <mat-toolbar [ngStyle]="{'background-color':'#C1CEFE'}">
    <mat-icon>attach_file</mat-icon>
    <span>&nbsp;&nbsp;&nbsp;Attachments</span>
  </mat-toolbar>
  <mat-card-content [ngStyle]="{'padding':'24px'}">
    <mat-list>
      <mat-list-item style="cursor:pointer;" *ngFor="let attachment of claimAttachments | async" (mouseenter)=highlightEnter($event)
        (mouseleave)=highlightLeave($event)>
        <img mat-list-icon src="/assets/{{selectAttachmentIcon(attachment.image_name)}}.png">
        <a mat-line matTooltip="{{attachment.image_name}}" href="http://{{apiurl}}/api/claimattachment/{{attachment.image_id}}"
          download>{{attachment.image_name}}</a>
          <small mat-line>{{attachment.image_desc}} | {{attachment.add_date | date}}</small>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>