<mat-card *ngIf="claim" [ngStyle]="{'padding':'0px'}">
  <mat-toolbar [ngStyle]="{'background-color':'#C1CEFE'}">
      <mat-icon>menu</mat-icon>
      <span>&nbsp;&nbsp;&nbsp;Drag & Drop</span>
    </mat-toolbar>
  <mat-card-content [ngStyle]="{'padding':'24px'}">
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-8 is-offset-2">
              <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                <p>
                  Drag a file here to upload.
                </p>
              </div>
            </div>
            <div class="column is-8 is-offset-2">
              <div class="upload-items">
                <div class="upload-item" *ngFor="let f of files; let i = index;">
                  <span class="filename">
                    <span>{{ f.name }} ({{ f.id }}) - {{ f.progress?.data?.percentage }}%</span>
                    <span>uploading with {{ f.progress?.data?.speedHuman }}</span>
                    <span>ETA {{ f.progress?.data?.etaHuman }}</span>
                  </span>
                  <div class="progress">
                    <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div>
  <br/>
  <button *ngIf="claim" mat-raised-button (click)="startUpload()">Upload</button>
</div>