<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <app-claim-search></app-claim-search>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <mat-icon style="cursor:pointer;" (click)="sidenav.toggle()">menu</mat-icon>
        </div>
        <div class="col-11">
          <h2 style="text-align: center;">Filehandler Attachments Drag & Drop</h2>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-6">
          <app-claim-drop></app-claim-drop>
        </div>
        <div class="col-6">
          <app-claim-detail></app-claim-detail>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>